{% extends 'base.html.twig' %}

{% block body %}
<div class="container-custom">
	{{form_start(form)}}
	<span class="title"> Comment étais votre expérience</span>
	{{form_widget(form.score)}}
	<span class="rate-text"></span> <!-- this span corresponds to the js option -->
	{{form_widget(form.comment)}}
	<button type="submit" class="btn btn-primary">POSTER</button>
	{{form_end(form)}}
</div>

<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}